.fancy-button {
  --gradientButton-default-textColor: rgb(255, 255, 255);
  --gradientButton-default-backgroundColor: linear-gradient(
    70deg,
    hsl(289deg 100% 50%) 0%,
    hsl(293deg 94% 50%) 12%,
    hsl(297deg 92% 48%) 22%,
    hsl(302deg 90% 48%) 30%,
    hsl(306deg 89% 50%) 37%,
    hsl(311deg 92% 51%) 43%,
    hsl(315deg 97% 53%) 49%,
    hsl(319deg 100% 56%) 55%,
    hsl(323deg 99% 58%) 61%,
    hsl(327deg 98% 60%) 67%,
    hsl(331deg 97% 62%) 73%,
    hsl(335deg 96% 63%) 80%,
    hsl(340deg 94% 64%) 88%,
    hsl(346deg 93% 65%) 100%
  );

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-inline: 2em;
  padding-block: 0.65em;
  border-radius: 0.4em;
  color: var(--gradientButton-default-textColor);
  background-image: var(--gradientButton-default-backgroundColor);
  background-size: 600%;
  animation: animatedGradient 12s linear infinite;
  /* transition: all 1s ease-in-out; */
  font-family: var(--font-heading);
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    inset-block-start: 0.2em;
    inset-inline: 0.2em;
    height: 20%;
    background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
    border-radius: 2em / 2em;
    pointer-events: none;
  }
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
